.footer {
  display: block;
  justify-content: center;
  padding: 50px;
  background-color: rgb(97, 97, 97);
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

li {
  display: list-item;
}


